@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: raleway, sans-serif;
}

/*VARIABLES*/
header {
  grid-area: header;
}

#grilla {
  grid-area: contenido;
}

footer {
  grid-area: footer;
}

.titulo {
  grid-area: titulo;
}

.conteiner_table {
  grid-area: tabla;
}

.content {
  grid-area: contenido;
}

.contacto {
  grid-area: contacto;
}

.saludos {
  grid-area: saludos;
}

.tabla2 {
  grid-area: tabla2;
}

.profesora {
  grid-area: profesora;
}

.content1 {
  grid-area: contenido1;
}

/* ESTRUCTURA CON GRID */
.grid-structure {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 2f;
  grid-template-rows: 1fr 2f 2fr 1fr;
  grid-template-areas: "header header" "titulo titulo" "contenido contenido" "footer footer";
}

.grid-structure1 {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1f;
  grid-template-rows: 1fr 1f 2fr 1fr;
  grid-template-areas: "header header" "titulo titulo" "profesora profesora" "footer footer";
}

.grid-structure2 {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2f 2fr 1fr;
  grid-template-areas: "header header" "titulo titulo" "contenido1 contenido1" "footer footer";
}

.grid-structure6 {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: 1fr auto auto auto 1fr;*/
  grid-template-areas: "header header" "titulo titulo" "opciones opciones" "opciones opciones" "footer footer";
}

.grid-structure4 {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 2f 1fr;
  grid-template-rows: 1fr 2f 2fr 2fr 1fr;
  grid-template-areas: "header header header" "titulo titulo titulo" "contenido contenido contenido" "tabla2  tabla2 tabla2" "footer footer footer";
}

/* MEDIA QUERIES */
@media (max-width: 900px) {
  #logo {
    display: none;
  }
}
@media (max-width: 768px) {
  .grid-structure {
    grid-template-columns: 1fr;
    /*grid-template-rows: 0.5fr auto auto 1fr;*/
  }
  .grid-structure1 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto auto 1fr;
  }
  .grid-structure2 {
    grid-template-columns: auto;
    grid-template-rows: 0.5fr auto auto 1fr;
  }
  .grid-structure6 {
    grid-template-columns: auto;
    /*grid-template-rows: 0.5fr auto 1fr;*/
  }
}
/* -------- ESTILO DE LA NAV BAR --------*/
.container, .container #logo {
  display: flex;
  flex-direction: row;
  background-color: #724370;
  z-index: 2;
  text-align: center;
  justify-content: flex-end;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.container #logo {
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  box-shadow: none;
}
.container .nav, .container #logo .nav {
  align-items: left;
  justify-content: space-between;
  padding-top: 1rem;
  margin: 1rem;
}
.container .nav .nav__list, .container #logo .nav .nav__list {
  list-style: none;
  display: flex;
}
.container .nav .nav__item, .container #logo .nav .nav__item {
  margin-left: 1.5rem;
}
.container .nav .nav__link, .container #logo .nav .nav__link {
  color: rgb(77, 184, 250);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}
.container .nav .nav__link:hover, .container #logo .nav .nav__link:hover {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
}
.container .nav .nav__link:active, .container #logo .nav .nav__link:active {
  text-decoration: underline;
}

/* -------- ESTILOS DE LOS TÍTULOS --------*/
h1 {
  color: #450742;
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  text-shadow: rgba(252, 251, 251, 0.407) 0.2rem 0.2rem 0.2rem;
}

h2 {
  text-align: center;
  color: #450742;
}

h3 {
  text-align: justify;
  justify-content: center;
  color: #450742;
}

h4 {
  padding: 1rem;
  font-size: 150%;
}

.titulo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

body {
  background-color: #aadce5;
}

/* ------------- INDEX ----------------- */
#portada {
  background: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url(..//Imagenes/biblioteca.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
  margin-top: 0;
  color: #450742;
  text-shadow: rgba(252, 251, 251, 0.407) 0.2rem 0.2rem 0.2rem;
}

.info {
  margin-top: 2rem;
}

.content {
  justify-content: center;
  align-items: center;
  padding: 0 2% 2% 2%;
  margin: 0 1rem 1rem 1rem 1rem;
}

.opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(255, 255, 255);
}
.opciones .opciones__card {
  display: flex;
  flex: 0.5 8 200px;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
}
.opciones .opciones__card .divv {
  flex-direction: row;
  text-align: left;
  align-self: center;
}
.opciones .opciones__card .opciones__imagen {
  max-width: 50%;
}
.opciones .opciones1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.content {
  justify-content: center;
  align-items: center;
  padding: 0 2% 2% 2%;
  margin: 0 1rem 1rem 1rem 1rem;
}

.opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
  background-color: rgb(255, 255, 255);
}
.opciones .opciones__card11 {
  display: flex;
  flex: 0.5 8 200px;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
}
.opciones .opciones__card11 .divv11 {
  flex-direction: row;
  text-align: left;
  align-self: center;
}
.opciones .opciones__card11 .opciones__imagen11 {
  max-width: 50%;
}
.opciones .opciones1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.espacio {
  visibility: hidden;
}

/* -------- SOBRE LA PROFESORA -------- */
.contenido__profesora {
  display: flex;
  flex-direction: column;
}
.contenido__profesora .profesora__imagen {
  object-fit: contain;
}
.contenido__profesora .imagendeprofe {
  width: 15rem;
}
.contenido__profesora .profesora__subtitulo {
  font-size: 70%;
  text-align: center;
  justify-content: center;
}
.contenido__profesora .profesora1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  line-height: 1.6;
  padding: 5%;
}
.contenido__profesora .profesora2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-color: #e87fbe;
  padding: 3%;
  margin: 3%;
}
.contenido__profesora .profesora__info {
  font-size: 160%;
  text-align: justify;
  padding-right: 5%;
  max-width: 90%;
}
.contenido__profesora .profesora__subtitulo1 {
  font-size: 180%;
  font-weight: 600;
  text-align: center;
}
.contenido__profesora .profesora__lista {
  padding-left: 10%;
}
.contenido__profesora .profesora__info1 {
  font-size: 120%;
  text-align: left;
  padding-right: 5%;
  padding-top: 10%;
}

/* -------- CLASES --------*/
.grid {
  display: grid;
  grid-template-columns: 1fr 0.5rem 1fr;
  grid-gap: 0.5rem;
}

.content1 {
  justify-content: center;
  align-items: center;
  padding: 0 2% 2% 2%;
  margin: 0 1% 1% 1% 1%;
}
.content1 .clases {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 4rem;
  padding: 2.5rem;
  border: solid #a086e2;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
}
.content1 .clases .clases__titulo {
  padding: 0;
  margin: 1rem;
  font-weight: bold;
  text-align: center;
}
.content1 .clases .clases__contenido {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.6;
  justify-content: center;
  align-items: center;
}
.content1 .clases .clase__imagen {
  width: 100%;
  align-self: center;
}

/* ------- HORARIOS -------- */
.content2 {
  justify-content: center;
  align-items: center;
  padding: 0 2% 2% 2%;
  margin: 0 1rem 1rem 1rem 1rem;
}

.opciones1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 1.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}
.opciones1 .opciones__card1 {
  display: flex;
  flex: 0.5 8 200px;
  flex-direction: row;
  background-color: rgb(255, 255, 255);
}
.opciones1 .opciones__card1 .divv1 {
  flex-direction: row;
  text-align: left;
  align-self: center;
}
.opciones1 .opciones__card1 .opciones__imagen1 {
  max-width: 50%;
}

/* -------- CONTACTO -------- */
.contacto {
  background: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url(../Imagenes/mezcla.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contacto .formulario__todo {
  padding: 15px;
  text-align: center;
}
.contacto .formulario {
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-top: 2rem;
}
.contacto .formulario .field {
  padding: 5px;
  margin: 5px;
  width: 260px;
  border-radius: 2rem;
}
.contacto .formulario .field:focus {
  border-color: #e87fbe;
}
.contacto fieldset {
  background-color: #a086e2;
  border: 0;
  width: 200px;
  margin: 0 auto;
  border-radius: 2%;
}
.contacto #mensaje {
  border-radius: 2rem;
}

.boton {
  font-size: 1rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #d16bad;
  border-radius: 1rem;
  border: 0;
  margin: 1rem;
  cursor: pointer;
}

.map {
  height: 22rem;
  width: 40rem;
  margin-left: 3rem;
}

.contacto__bottom {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #a086e2;
}

.contacto__direccion {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
  font-weight: 600;
}

.saludo {
  text-align: center;
  padding-bottom: 2%;
  padding-top: 2%;
  font-size: 120%;
  font-weight: 500;
}

/* -------- FOOTER -------- */
footer {
  background-color: #724370;
  color: rgb(77, 184, 250);
  font-weight: 600;
  font-size: 1rem;
}
footer .redes {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 2.5rem;
  padding-top: 1.5rem;
  font-size: 90%;
}
footer .fab {
  margin-left: 2rem;
  font-size: 500%;
  background: linear-gradient(#cfcf20, #7FE8E3);
  -webkit-background-clip: text;
  color: transparent;
}
footer .fab:hover {
  background: linear-gradient(#6d65df, #e87fbe);
  -webkit-background-clip: text;
  color: transparent;
}
footer .footer__bottom {
  text-align: right;
  padding: 1rem;
}

/* -------- MEDIA QUERIES --------*/
@media (max-width: 2500px) {
  #logo {
    margin-right: 50%;
  }
}
@media (max-width: 1700px) {
  #logo {
    margin-right: 45%;
  }
}
@media (max-width: 1400px) {
  #logo {
    margin-right: 35%;
  }
}
@media (max-width: 1300px) {
  .clase__imagen {
    width: 75%;
  }
}
@media (max-width: 1200px) {
  #logo {
    margin-right: 20%;
  }
}
@media (max-width: 1000px) {
  .grid {
    display: flex;
    flex-direction: column;
  }
  #logo {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .contacto {
    background: none;
  }
  #logo {
    display: none;
    visibility: hidden;
  }
  .nav__lis {
    display: none;
  }
  .profesora1 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
  .profesora__banner {
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0 0 0 25%;
  }
  footer {
    font-size: 0.5rem;
  }
  .clases__box {
    display: flex;
    flex-direction: column;
  }
  .profesora__imagen {
    display: none;
  }
  .opciones1 {
    display: block;
  }
  .opciones {
    gap: 0;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .opciones__card {
    flex: 0.5 8 100px;
    display: flex;
    flex-direction: column;
  }
  .opciones__imagen {
    display: flex;
    flex-direction: column;
    margin-top: 20%;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
  }
  h4 {
    padding: 0;
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  .clase__imagen {
    max-width: 200px;
  }
  .contenido__profesora {
    display: flex;
    flex-direction: column;
  }
  .profesora__imagen {
    display: none;
  }
  .profesora__info {
    font-size: 150%;
  }
  .profesora__info1 {
    font-size: none;
  }
  .profesora__subtitulo1 {
    font-size: 100%;
  }
  .nav {
    align-items: center;
    justify-content: center;
  }
  .nav__item {
    font-size: 70%;
    align-items: center;
    justify-content: center;
  }
  .container, .container #logo {
    align-self: center;
  }
  fieldset {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .contacto {
    margin: 0;
  }
  fieldset {
    margin: 0;
  }
  .contacto__bottom {
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  .map {
    width: 18rem;
    align-self: center;
    margin-left: 0;
  }
  .contacto__direccion {
    margin-top: 0;
    margin-bottom: 5%;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
