header {
    grid-area: header;
    }
  
  #grilla { 
    grid-area: contenido;
    }
    
  footer {
    grid-area: footer;
  }
  .titulo {
    grid-area: titulo;
    }
  .conteiner_table {
    grid-area: tabla;
  }
  .content {
    grid-area: contenido;
  }
  .contacto {
    grid-area: contacto;
  }
  .saludos {
    grid-area: saludos;
  }
  .tabla2 {
    grid-area: tabla2;
  }
  .profesora {
    grid-area: profesora;
  }
  .content1 {
    grid-area: contenido1;
  }
 
  
  /* ESTRUCTURA CON GRID */

    
  .grid-structure {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 2f;
    grid-template-rows: 1fr 2f 2fr 1fr;
    grid-template-areas: 
    "header header"
    "titulo titulo"
    "contenido contenido"
    "footer footer";
  }
  .grid-structure1 {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1f;
    grid-template-rows: 1fr 1f 2fr 1fr;
    grid-template-areas: 
    "header header"
    "titulo titulo"
    "profesora profesora"
    "footer footer";
  }
  .grid-structure2 {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2f 2fr 1fr;
    grid-template-areas: 
    "header header"
    "titulo titulo"
    "contenido1 contenido1"
    "footer footer";
  }

  .grid-structure6 {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto 1fr;
    grid-template-areas: 
    "header header"
    "titulo titulo"
    "opciones opciones"
    "opciones opciones"
    "footer footer"; 
  }

  .grid-structure4 {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 2f 1fr;
    grid-template-rows: 1fr 2f 2fr 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "titulo titulo titulo"
    "contenido contenido contenido"
    "tabla2  tabla2 tabla2"
    "footer footer footer";
  
  }

  /* MEDIA QUERIES */
  
  
  @media (max-width:900px) {
    #logo { 
      display: none;
      }
  }
  
  
   @media (max-width:768px) {
  .grid-structure {
    grid-template-columns: 1fr;
    /*grid-template-rows: 0.5fr auto auto 1fr;*/
  }

  .grid-structure1 {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto auto 1fr;
  }

  .grid-structure2 {
    grid-template-columns: auto;
    grid-template-rows: 0.5fr auto auto 1fr;
  }
  .grid-structure6 {
    grid-template-columns: auto;
    grid-template-rows: 0.5fr auto 1fr;
  }


}