/*VARIABLES*/
$violeta-fondo: #724370;
$img-chica: 50%;

$palette: (
    'violeta1': rgba(137, 43, 226, 0.401),
    'violeta2': #450742,
    'celeste1': rgb(77, 184, 250),
    'celeste2':rgb(146, 220, 233),
    'celeste-back': #aadce5,
    'azul': #724370,
    'rosa': #724370,
    'amarillo': #724370,
    'blanco': rgb(255, 255, 255),
)