/*VARIABLES*/
$violeta-fondo: #724370;
$img-chica: 50%;

$palette: (
    'violeta1': rgba(137, 43, 226, 0.401),
    'violeta2': #450742,
    'lila': #a086e2,
    'celeste1': rgb(77, 184, 250),
    'celeste2':rgb(146, 220, 233),
    'celeste-back': #aadce5,
    'verde-agua': #00f0c7,
    'verde': #8afa90,
    'azul': #6eacf6,
    'rosa': #d16bad,
    'amarillo': #dcfa8a,
    'blanco': rgb(255, 255, 255),
)