* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: raleway, sans-serif;
} 

@import "variables";
@import "estructura";
@import "mixins";

/* -------- ESTILO DE LA NAV BAR --------*/
.container {
    @include flex-row;
    background-color:$violeta-fondo;
    z-index: 2; 
    text-align: center;
    justify-content: flex-end;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

    #logo {
        @extend.container;
        margin-right: 20%;
        box-shadow: none;
    }

        .nav {
            align-items: left;
            justify-content: space-between;
            padding: 1rem;
            margin: 1rem;

            .nav__list { 
                list-style: none;
                display: flex;
            }

            .nav__item {
                margin-left: 1.5rem;
            }

            .nav__link {
                color: map-get($map: $palette, $key: 'celeste1');
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bold;
               
                &:hover {
                color: map-get($map: $palette, $key: 'blanco');
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                font-weight: bolder;
                }
                &:active {
                text-decoration: underline;
                }
            }

        }
  }


/* -------- ESTILOS DE LOS TÍTULOS --------*/
h1 {
  color: map-get($map: $palette, $key:'violeta2' );
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  text-shadow: rgba(252, 251, 251, 0.407) 0.2rem 0.2rem 0.2rem;
  }

h2 {
  font-size: 30px;
  text-align: center;
  color: map-get($map: $palette, $key: 'violeta2');
}

h3 {
  text-align: justify;
  justify-content: center;
  color: map-get($map: $palette, $key:'violeta2' );
  font-size: 30px;
}

h4 {
  padding: 1rem;
  font-size: 1.5rem;
}
  
.titulo {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
 
body {
  background-color: map-get($map: $palette, $key:'celeste-back');
}


/* ------------- INDEX ----------------- */

#portada {
    background: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 0)), url(..//Imagenes/biblioteca.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 0;
    color: map-get($map: $palette, $key:'violeta2' );
    text-shadow: rgba(252, 251, 251, 0.407) 0.2rem 0.2rem 0.2rem;
    }


  
.content {
        max-width: 1600px;
        justify-content: center;
        align-items: center;
        padding: 0 2% 2% 2%;
        margin: 0 1rem 1rem 1rem 1rem;
        }
        .opciones {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            flex-wrap: wrap;
            padding: 1.5rem;
            margin-left: 4rem;
            margin-right: 4rem;
            background-color: map-get($map: $palette, $key: 'blanco');}

            .opciones1 {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 2rem;
              flex-wrap: wrap;
              padding: 1.5rem;
              margin-left: 4rem;
              margin-right: 4rem;
              

            .opciones__card {
                display: flex;
                flex: 0.5 8 200px;
                flex-direction: row;
                background-color: map-get($map: $palette, $key:'blanco' );
            
                .divv {
                    flex-direction: row;
                    text-align: left;
                    align-self: center;
                    }
                
                .opciones__imagen {
                    max-width: $img-chica;
                    }
                 
              }
        
        }


/* -------- SOBRE LA PROFESORA -------- */

.contenido__profesora {
  display: flex;
  flex-direction: column;

  .profesora__imagen {
    object-fit: contain;
  }

  .imagendeprofe {
    width: 15rem;
  }

  .profesora__subtitulo {
    font-size: 20%;
    text-align: center;
    justify-content: center;
  }
  .profesora1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
  }
  .profesora2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: #e87fbe;
    padding: 3%;
    margin: 3%;
  }
  .profesora__info {
    font-size: 2rem;
    text-align: justify;
    padding-right: 5%;
  }
  .profesora__subtitulo1 {
    font-size: 3rem;
    font-weight: 600;

  }
}

/*
.profesora__info {
  grid-area: infoprofe;
}
.profesora__imagen {
  grid-area: imagenprofe;
  max-width: 10%;
}

.grid__profesora{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto;
  grid-template-areas: 
  "infoprofe imagenprofe"
  "infoprofe imagenprofe"
  "infoprofe infoprofe";
}*/



/*
.profesora {
  font-size: 7px;
  line-height: 1.6;
  padding: 2rem 10rem 2rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profesora__subtitulo {
    padding-bottom: 2rem;
  }

  .profesora1 {
    display: flex;
    flex-direction: row;
   
    background-color: map-get($map: $palette, $key: 'blanco');
    padding: 2%;
    margin: 2%;
    

    .profesora__info {
      font-size: 2rem;
      background-color: #7FE8E3;
      padding: 5%;

    }
    .profesora__banner {
      max-width:fit-content;
      height: auto;
      margin-left: auto; 
      margin-right: auto;
      padding-left: 5%;
     }
    }

  
  
}
 



/* -------- PÁGINA DE MODALIDAD --------*/

.grid {display: grid;
  grid-template-columns: 1fr 0.5rem 1fr;
  grid-gap: 0.5rem;
}

.clases {
  margin: 4rem;
  max-width: 80%;
  padding: 6rem;
  border: solid black;
  background-color: rgb(146, 220, 233);
  font-size: 1rem;
  border-radius: 30px;

    .clases__titulo {
      padding:0 ;
      margin: 1rem;
      font-size: 3rem;
      font-weight: bolder;
      text-align: center;
    }

    .clases__contenido {
      padding-top: 1rem;
      padding-bottom: 1rem;
      line-height: 1.6;
    }
    
  }

.clase__imagen {
  align-self: center;
}







.content1 {
  justify-content: center;
  align-items: center;
  padding: 0 2% 2% 2%;
  margin: 0 1% 1% 1% 1%;
  }

.clases {
  display: flex;
  flex-direction: column;
  margin: 4rem;
  max-width: 80%;
  padding: 2.5rem;
  border: solid black;
  background-color: rgb(146, 220, 233);
  font-size: 1rem;
  border-radius: 30px;
}

.clases__titulo {
  padding:0 ;
  margin: 1rem;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  
}

.clases__contenido {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.6;
  justify-content: center;
  align-items: center;
}

.clases__box {
  display: flex;
  flex-direction: row;
  }

.clase__imagen {
  width: 25rem;
  }

/*
.content1 {
  justify-content: center;
  align-items: center;
  padding: 2%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  }
       
.grid {display: grid;
  grid-template-columns: 1fr 0.5rem 1fr;
  grid-gap: 0.5rem;
}

.row {display: flex;
flex-direction: row;}

.clases {
  margin: 4rem;
  max-width: 90%;
  padding: 2.5rem;
  border: solid black;
  background-color: rgb(146, 220, 233);
  font-size: 1rem;
  border-radius: 30px;
  }

.clases__titulo {
  padding:0 ;
  margin: 1rem;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.clases__contenido {
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1.6;
}

.clases__box {
  background-image: linear-gradient(to left bottom, #bb6bd1, #ad7adb, #a086e2, #9592e6, #8c9ce8, #6eacf6, #47bbfd, #00c9fd, #00dfef, #00f0c7, #8afa90);
}

.clase__imagen {
  width: 25rem;
}
*/

 
  
/* -------- CONTACTO -------- */

.contacto {

.formulario__todo {
  padding: 15px;
  text-align: center;
  
}
  .formulario {
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 30px;
    margin: 20px;

    .field {
      padding: 5px;
      margin: 5px;
      width: 280px;
      border-radius: 2rem;
  
      &:focus {
        border-color: #e87fbe;
      }
    }
    
  }
  
  fieldset {
    background-color: map-get($map: $palette, $key:'lila' );
    border: 0;
    width: 200px;
    margin: 0 auto;
    border-radius: 7%;
    }

    #mensaje {
      border-radius: 2rem;
      
    }
  }
  
  .boton {
    font-size: 1.5rem;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: map-get($map: $palette, $key:'rosa' );
    border-radius: 1rem;
    border: 0;
    margin: 1rem;
    cursor: pointer;
  }
  
  .map {
    height: 22rem;
    width: 40rem;
    margin-left: 3rem;}
  
  .contacto__bottom {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    }
  



/* -------- FOOTER -------- */

footer {
    background-color: $violeta-fondo;
    color: map-get($map: $palette, $key: 'celeste1' );
    font-weight: 600;
    margin-top: 2rem;
    font-size: 1rem;
     
     .redes {
        display: flex;
         flex-direction: row;
         flex-wrap: nowrap;
         justify-content: center;
         align-items: center;
         text-align: center;
         margin-right: 2.5rem;
         padding-top: 1.5rem;
         font-size: 90%;
         
         }
                  
         .fab {
             margin-left: 2rem;
             font-size: 500%;
             background: linear-gradient(#cfcf20, #7FE8E3);
             -webkit-background-clip: text;
             color: transparent;  
 
             &:hover {
                 background: linear-gradient(#6d65df, #e87fbe);
                 -webkit-background-clip: text;
                 color: transparent;  
             }
             
           }    
           .footer__bottom {
             text-align: right;
             padding: 1rem;
         }
           }
 

/* -------- MEDIA QUERIES --------*/

@media (max-width:950px) {
  .grid {
    display: flex;
    flex-direction: column;
  }

}

@media (max-width:768px) {
  .profesora1 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
           
  .profesora__subtitulo {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .profesora__banner {
    justify-content: center;
    text-align: center;
    width: 50%;
  }

  footer {
    font-size: 0.5rem;
  }

  .clases__box {
    display: flex;
    flex-direction: column;
  }
  
}



            

              
           


